
@{
    ViewData["Title"] = "PreviousOrder";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<div class="card mx-5 my-3">
    <div class="card-title">
        <h4 class="text-center mt-3">Previous Orders</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Serial No:</th>
                        <th scope="col">Order No:</th>
                        <th scope="col">Order Type:</th>
                        <th scope="col">Gross Amount:</th>
                        <th scope="col">Action:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>123</td>
                        <td>Single</td>
                        <td>$40.00</td>
                        <td> <button class="btn btn-primary">View Detail</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>124</td>
                        <td>Carton</td>
                        <td>$140.00</td>
                        <td> <button class="btn btn-primary">View Detail</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>125</td>
                        <td>Single</td>
                        <td>$38.00</td>
                        <td> <button class="btn btn-primary">View Detail</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

   

