@model ABC.EFCore.Repository.Edmx.CustomerValid
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Login", "Account", FormMethod.Get))
{
    <div class="my-3 container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 col-xl-5">
                <div class="card mx-4 bg-light">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div class="ms-auto text-end">
                                <h4 class="font-size-18">Password Change</h4>
                            </div>
                        </div>
                        <div class="p-3 form-horizontal">
                            <div class="form-group mb-3">
                                <label for="textPassword" class="form-label">New Password:</label>
                                @Html.PasswordFor(model => model.AspNetUser.PasswordHash, new { @class = "form-control", id = "textPassword" })
                                @Html.ValidationMessageFor(model => model.AspNetUser.PasswordHash, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-3">
                                <label for="textConfirmPassword" class="form-label">Confirm Password:</label>
                                @Html.PasswordFor(model => model.AspNetUser.PasswordHash, new { @class = "form-control", id = "textConfirmPassword" })
                                @Html.ValidationMessageFor(model => model.AspNetUser.PasswordHash, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-3 text-center">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

}

@*<script>
        function hello() {
            var textConfirmPassword = document.getElementById("textConfirmPassword").value;
            var textPassword = document.getElementById("textPassword").value;
            if (textConfirmPassword == '') {
                alert('Please enter your Email');
            }
            else if (textPassword =='') {
                alert('Please enter your password');
            }
        }
    </script>*@

